body {
  margin: 0;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit";
}
#all {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#qrcontainer {
  height: 60%;
  width: 20%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1%;
}
#qr {
  width: 90%;
  height: 60%;
  background-image: url(images/image-qr-code.png);
  background-size: 100% 100%;
  border-radius: 15px;
}
#text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  width: 80%;
  gap: 8%;
}
#text div {
  text-align: center;
}
#t1 {
  font-family: "Outfit";
  font-weight: 700;
  font-size: 25px;
  color: hsl(218, 44%, 22%);
}
#t2 {
  font-family: Outfit;
  font-weight: 400;
  font-size: 18px;
  color: hsl(220, 15%, 55%);
}
